@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: Poppins, Arial, sans-serif;

    box-sizing: border-box;
    margin: 0;
    height: 100vh;
    padding: 1.5%;

    display: flex;
    justify-content: center;

    background-color: #1E1E1E;
}


div.container {
    display: flex;
    flex-direction: column;

    margin: 0 5vh;
}

input#barraPesquisa {
    padding: 1em 0.5em;
    border-radius: 1em;
    margin-bottom: 5vh;
    border: none;
    outline: none;

    font-size: 1.5em;

    height: 1.5em;
    width: 15em;

    transition: 0.25s;
}

input#barraPesquisa:hover{
    opacity: 90%;
    transform: scale(110%);
}


.loupe {
    left: 300px;
    bottom: 84px;
}

section#clima {
    display: flex;

    color: #e2e6ed;
    font-size: 1.5em;
}

section#clima > div {
    display: flex;
}

section#clima > div > img {
    width: 80%;
}

section#clima > p > span#temperatura {
    font-size: 2em;
}

section#adicionais {
    display: flex;
}